/* Blog page style */

.blog {
    .page-title {
        margin: 30px auto;
        text-align: center;
    }
    .post {
        float: left;
        width: 32%;
        margin-right: 2%;
        margin-bottom: 40px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        .entry-thumbnail {
            position: relative;
        }
        .timestamp {
            background: $black;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            padding: 10px;
            position: absolute;
            left: 15px;
            top: 0;
            .year {
                display: block;
                font-size: 20px;
            }
        }
        .post-thumbnail {
            height: 250px;
            overflow: hidden;
            img {
                position: relative;
                top: 50%;
                @include transform(translateY(-50%));
            }
        }
        .entry-info {
            background: $white;
            text-align: center;
            height: 150px;
            width: 100%;
            padding: 15px;
        }
        .entry-title {
            color: $main-color;
            font-size: 20px;
            text-transform: none;
            a {
                color: $main-color;
                &:hover {
                    @include opacity(0.5);
                }
            }
        }
        .entry-meta {
            display: none;
        }
        .entry-content {
            p {
                color: $submenu-item-color;
                font-weight: normal;
            }
            a {
                clear: both;
                color: $main-color;
                display: block;
                font-weight: bold;
                margin-top: 20px;
                &:hover {
                    @include opacity(0.5);
                }
            }
        }
    }
}