/* Cart page style */

.woocommerce-cart {
    #content {
        padding-top: 30px;
    }
    .cart-title {
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    table.shop_table {
        background: $white;
        @include border-radius(0);
        th {
            background: $filter-item-bg;
            text-align: center;
            padding: 10px 15px;
        }
        td {
            text-align: center;
            padding: 15px;
            &.product-thumbnail {
                img {
                    background: $white;
                    width: 90px;
                }
            }
            &.actions {
                .input-text {
                    border: 2px solid $left-menu-bd !important;
                    font-weight: normal;
                    width: auto !important;
                    padding: 8px 15px 7px !important;
                }
                .button {
                    @include border-radius(0);
                    @include transition();
                    &:hover {
                        background: $grey;
                        color: $white;
                    }
                }
            }
        }
        .product-name {
            a {
                color: $main-color;
            }
        }
        .quantity {
            .qty {
                border: 2px solid $left-menu-bd;
                outline: none;
            }
        }
    }
    .wc-proceed-to-checkout {
        clear: both;
        text-align: center;
        a {
            min-width: 200px;
            &.select-more {
                background: $left-menu-bg;
                border: 2px solid $left-menu-bg;
                display: inline-block;
                vertical-align: top;
                color: $white;
                line-height: normal;
                text-align: center;
                text-transform: uppercase;
                margin: 15px 10px;
                padding: 9px 15px;
                &:hover {
                    background: none;
                    color: $left-menu-bg;
                }
            }
            &.checkout-button {
                background: $black;
                border: 2px solid $black;
                @include border-radius(0);
                display: inline-block;
                vertical-align: top;
                color: $white;
                font-size: 14px;
                text-align: center;
                text-transform: uppercase;
                margin: 15px 10px;
                padding: 9px 15px;
                @include transition();
                &:hover {
                    background: transparent;
                    color: $black;
                }
            }
        }
    }
    .cart-empty,
    .return-to-shop {
        text-align: center;
    }
}