/* Home page style */

.home {
    .content-block {
        position: relative;
        > img {
            width: 100%;
        }
        .content-block-body {
            text-align: center;
            position: absolute;
            bottom: 150px;
            left: 50%;
            @include transform(translateX(-50%));
            a {
                background: $white;
                border: 2px solid $header-bg;
                color: $header-bg;
                padding: 10px 20px;
                &:hover {
                    background: $header-bg;
                    color: $white;
                }
            }
        }
    }
}
