/* Men page style */

.page-template-men {
    @extend .home;
    @import "../component/featured-product";
    .content-block {
        &.no-feature {
            min-height: 550px;
        }
    }
    .content-block-img {
        img {
            position: absolute;
            top: 0;
        }
    }
    .men-option-1,
    .men-option-3 {
        .content-block-img {
            img {
                right: 0;
            }
        }
    }
    .men-option-2 {
        .feature-product {
            float: right;
        }
        .content-block-img {
            img {
                left: 0;
            }
        }
        .content-block-body {
            left: 16.5%;
        }
    }

    @include bp(max-width, $large-desktop) {
        .content-block {
            &.no-feature {
                min-height: 315px;
            }
        }
    }

    @include bp(max-width, $desktop) {
        .content-block {
            &.no-feature {
                min-height: 330px;
            }
        }
    }

    @include bp(max-width, $laptop) {
        .content-block {
            &.no-feature {
                min-height: 255px;
            }
        }
    }

    @include bp(max-width, $tablet - 1) {
        .content-block {
            &.no-feature {
                min-height: inherit;
            }
        }
        .feature-product {
            display: none;
        }
        .content-block-img {
            img {
                position: static;
            }
        }
        .men-option-2 {
            .content-block-body {
                left: 50%;
            }
        }
    }
}