/* Product category style */

.tax-product_cat {
    .woocommerce-ordering {
        margin: 0 10px 10px;
        .bootstrap-select {
            .dropdown-toggle {
                background: none;
                border: 2px solid $product-select-bd;
                @include border-radius(0);
                @include box-shadow(none);
                color: $product-select-color;
                font-size: 14px;
                text-shadow: none;
                padding: 9px 25px 9px 10px;
                outline: none;
                &:focus {
                    outline: none !important;
                }
            }
            .dropdown-menu {
                @include border-radius(0);
                @include box-shadow(none);
                margin: 0;
                > li {
                    > a {
                        color: $left-menu-bg;
                        font-size: 14px;
                        @include font('font-roboto-medium');
                        padding: 3px 10px;
                    }
                }
            }
        }
    }
    ul.products {
        margin: 0 -1px;
        li.product {
            width: 25%;
            padding: 0 1px;
            margin: 0 0 35px;
            a {
                img {
                    margin: 0 0 10px;
                }
            }
            h3 {
                color: $main-color;
                font-size: 13px;
                line-height: 1.4;
                float: left;
                width: 50%;
                padding: 0 10px 5px;
            }
            .onsale {
                background: $sale-tag-bg;
                width: 60px;
                height: 60px;
                font-size: 22px;
                line-height: normal;
                min-height: inherit;
                min-width: inherit;
                white-space: nowrap;
                padding: 17px 0;
                margin: 0;
                top: auto;
                right: auto;
                bottom: 60px;
                left: 10px;
                z-index: 1;
            }
            .star-rating {
                color: $main-color;
                display: none;
                margin: 0 10px;
            }
            .price {
                color: $main-color;
                font-size: 13px;
                font-weight: bold;
                float: right;
                margin: 0 10px;
                del {
                    @include font('font-roboto-medium');
                    margin-bottom: 5px;
                }
                ins {
                    @include font('font-roboto-bold');
                    text-decoration: none;
                }
            }
            .product-color {
                color: $left-menu-bg;
                font-size: 13px;
                @include font('font-roboto-medium');
                clear: left;
                float: left;
                width: 50%;
                padding: 0 10px;
            }
            .button {
                display: none;
            }
        }
    }

    .show-products {
        text-align: center;
        span {
            background: $white;
            color: $left-menu-bg;
            cursor: pointer;
            font-size: 13px;
            display: inline-block;
            vertical-align: top;
            padding: 10px 10px 20px;
            position: relative;
            @include transition();
            &:after {
                content: "";
                display: block;
                height: 0;
                width: 0;
                background: none;
                border-top: 6px solid $left-menu-bg;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                bottom: 10px;
                left: 50%;
                margin-left: -5px;
                @include transition();
            }
            &:hover {
                color: $main-color;
                &:after {
                    border-top-color: $main-color;
                }
            }
        }
    }
}