/* Product detail style */

.single-product {
    div.product {
        .product-container {
            float: left;
            width: 100%;
            position: relative;
        }
        .onsale {
            background: $sale-tag-bg;
            width: 60px;
            height: 60px;
            font-size: 22px;
            line-height: normal;
            min-height: inherit;
            min-width: inherit;
            white-space: nowrap;
            padding: 17px 0;
            top: 10px;
            left: 10px;
            z-index: 1;
        }
        .images {
            width: 100% !important;
            margin-bottom: 0 !important;
            .thumbnails {
                max-width: 80px;
                padding: 0;
                position: absolute;
                bottom: 40px;
                left: 40px;
                a {
                    border: 1px solid $search-input-bd;
                    width: 80px !important;
                    height: 80px !important;
                    margin-right: 10px !important;
                    margin-bottom: 10px !important;
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
        .summary {
            color: $search-input-bd;
            font-size: 13px;
            width: 28% !important;
            padding: 50px 90px 50px 10px;
            margin: 0;
            position: absolute;
            top: 50%;
            right: 0;
            @include transform(translateY(-50%));
            div {
                p {
                    @include font('font-roboto-medium');
                }
            }
        }
        .product_title {
            color: $header-bg;
            font-size: 30px;
        }
        .woocommerce-product-rating {
            margin-bottom: 10px;
            .star-rating {
                margin: 6px 5px 0 0;
            }
            .woocommerce-review-link {
                color: $search-input-bd;
                font-size: 12px;
                &:hover {
                    color: $header-bg;
                }
            }
        }
        .price {
            color: $header-bg !important;
            font-size: 13px !important;
            font-weight: bold !important;
            del {
                @include font('font-roboto-medium');
                margin-right: 5px;
            }
            ins {
                @include font('font-roboto-bold');
                text-decoration: none;
            }
        }
        .cart {
            margin-bottom: 10px !important;
            .quantity {
                display: none !important;
            }
            .button {
                background: $cart-btn-bg;
                border: 2px solid $cart-btn-bg;
                @include border-radius(0);
                font-size: 13px;
                text-align: center;
                width: 100%;
                padding: 10px;
                outline: none;
                @include transition();
                &:hover {
                    background: transparent;
                    color: $cart-btn-bg;
                }
            }
            .variations {
                tr {
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 4px;
                    width: 33%;
                    td {
                        &.label {
                            display: none;
                        }
                        &.value {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .reset_variations {
                display: none !important;
            }
            .bootstrap-select {
                width: 100%;
                .dropdown-toggle {
                    background: none;
                    border: 2px solid $product-select-bd;
                    @include border-radius(0);
                    @include box-shadow(none);
                    color: $product-select-color;
                    font-size: 13px;
                    text-shadow: none;
                    padding: 9px 25px 9px 10px;
                    outline: none;
                    &:focus {
                        outline: none !important;
                    }
                }
                .dropdown-menu {
                    @include border-radius(0);
                    @include box-shadow(none);
                    margin: 0;
                    > li {
                        > a {
                            color: $left-menu-bg;
                            font-size: 13px;
                            @include font('font-roboto-medium');
                            padding: 3px 10px;
                        }
                    }
                }
            }
        }
        .product_meta {
            color: $header-bg;
            a {
                color: $search-input-bd;
                @include font('font-roboto-medium');
            }
        }
        .woocommerce-tabs {
            display: none;
        }
        .product-info-detail {
            float: left;
            width: 100%;
        }
        .product-description {
            float: left;
            width: 100%;
            position: relative;
            .desc-img,
            .desc-detail {
                width: 50%;
            }
            .desc-img {
                position: relative;
                img {
                    width: 100%;
                }
                &:before {
                    content: "";
                    display: block;
                    height: 0;
                    width: 0;
                    background: none;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    position: absolute;
                    top: 50%;
                    margin-top: -20px;
                    z-index: 1;
                }
            }
            .desc-detail {
                width: 420px;
                max-width: 50%;
                position: absolute;
                top: 50%;
                h2 {
                    font-size: 30px;
                    margin: 0 0 10px;
                }
                h3 {
                    font-size: 15px;
                    margin: 0 0 10px;
                }
                p {
                    color: $search-input-bd;
                    font-size: 13px;
                    @include font('font-roboto-medium');
                }
                ul {
                    padding-left: 20px;
                    li {
                        color: $search-input-bd;
                        font-size: 13px;
                        @include font('font-roboto-medium');
                    }
                }
            }
            &.contain-1,
            &.contain-3 {
                .desc-img {
                    float: right;
                    &:before {
                        border-left: 20px solid $body-bg;
                        left: 0;
                    }
                }
                .desc-detail {
                    float: left;
                    left: 25%;
                    @include transform(translate(-50%, -50%));
                }
            }
            &.contain-2 {
                .desc-img {
                    float: left;
                    &:before {
                        border-right: 20px solid $body-bg;
                        right: 0;
                    }
                }
                .desc-detail {
                    float: right;
                    right: 25%;
                    @include transform(translate(50%, -50%));
                }
            }
        }
        .related.products {
            float: left;
            width: 100%;
            h2 {
                color: $header-bg;
                line-height: 1;
                margin: 25px 0;
                padding: 0 40px;
            }
            ul.products {
                li.product {
                    width: 25%;
                    margin: 0;
                    a {
                        img {
                            margin: 0 0 10px;
                        }
                    }
                    h3 {
                        color: $header-bg;
                        font-size: 13px;
                        float: left;
                        padding: 0 10px 10px;
                    }
                    .onsale {
                        top: auto;
                        right: auto;
                        bottom: 45px;
                        left: 10px;
                        margin: 0;
                    }
                    .star-rating {
                        color: $header-bg;
                        display: none;
                        margin: 0 10px;
                    }
                    .price {
                        float: right;
                        margin: 0 10px;
                        del, ins {
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                    .button {
                        display: none;
                    }
                }
            }
        }

        @include bp(max-width, $laptop - 1) {
            .product-description {
                .desc-detail {
                    padding: 0 5%;
                }
            }
        }

        @include bp(max-width, $tablet - 1) {
            .product-description {
                .desc-img,
                .desc-detail {
                    width: 100%;
                }
                .desc-img {
                    &:before {
                        display: none;
                    }
                }
                .desc-detail {
                    position: static;
                    padding: 15px 15px 30px;
                    @include transform(none);
                }
                &.contain-1,
                &.contain-2,
                &.contain-3 {
                    .desc-img {
                        float: none;
                    }
                    .desc-detail {
                        float: none;
                        @include transform(none);
                    }
                }
            }
        }
    }
}