/* Shoes page style */

.page-template-shoes {
    @extend .home;
    @import "../component/featured-product";
    .content-block {
        min-height: 550px;
    }
    .content-block-img {
        img {
            position: absolute;
            top: 0;
        }
    }
}