/* Women page style */

.page-template-women {
    @extend .home;
    @import "../component/featured-product";
    @import "../component/content-desc";
    .content-block {
        &.no-feature {
            min-height: 550px;
        }
        .content-block-body {
            a {
                border-color: $white;
                &:hover {
                    background: none;
                }
            }
        }
    }
    .content-block-img {
        img {
            position: absolute;
            top: 0;
        }
    }
    .women-option-1,
    .women-option-3,
    .women-option-5 {
        .feature-product,
        .content-block-desc {
            float: right;
        }
        .content-block-img {
            img {
                left: 0;
            }
        }
    }
    .women-option-2,
    .women-option-4 {
        .content-block-img {
            img {
                right: 0;
            }
        }
    }

    @include bp(max-width, $large-desktop) {
        .content-block {
            &.no-feature {
                min-height: 315px;
            }
        }
    }

    @include bp(max-width, $desktop) {
        .content-block {
            &.no-feature {
                min-height: 330px;
            }
        }
    }

    @include bp(max-width, $laptop) {
        .content-block {
            &.no-feature {
                min-height: inherit;
            }
        }
        .feature-product,
        .content-block-desc {
            display: none;
        }
        .content-block-img {
            img {
                position: static;
            }
        }
    }
}