/* Women page style */

.page-template-women {
    @extend .home;
    @import "../component/featured-product";
    .content-block {
        min-height: 550px;
    }
    .content-block-img {
        img {
            position: absolute;
            top: 0;
        }
    }
    .women-option-1,
    .women-option-3 {
        .feature-product {
            float: right;
        }
        .content-block-img {
            img {
                left: 0;
            }
        }
        .content-block-body {
            left: 16.5%;
        }
    }
    .women-option-2 {
        .content-block-img {
            img {
                right: 0;
            }
        }
    }
}