/* Sutunam theme style */

/* Font */

/* Font style */

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.eot");
  src: url("../fonts/GothamBold.eot") format("embedded-opentype"), url("../fonts/GothamBold.woff2") format("woff2"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.ttf") format("truetype"), url("../fonts/GothamBold.svg#GothamBold") format("svg");
}

@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/GothamMedium.eot");
  src: url("../fonts/GothamMedium.eot") format("embedded-opentype"), url("../fonts/GothamMedium.woff2") format("woff2"), url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.ttf") format("truetype"), url("../fonts/GothamMedium.svg#GothamMedium") format("svg");
}

/* Mixin */

/* border radius */

/* box shadow */

/* box sizing */

/* transform */

/* transition */

/* opacity */

/* placeholder */

/* breakpoint with one condition(min or max) */

/* breakpoint with two conditions (min and max) */

/* extend placeholder */

/* Variable */

/* Backgound */

/* Border */

/* Break point */

/* Color */

/* Font */

body {
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'GothamBold', sans-serif;
}

/* Layout */

/* Global */

/* General style */

html,
body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  padding-top: 54px;
}

#wrapper:after {
  content: "";
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Header style */

#header {
  background: #303030;
  height: 54px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#header .nav-menu {
  height: 100%;
  position: relative;
}

#header .logo {
  max-width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#header .search-form {
  position: absolute;
  top: 0;
  right: 300px;
  height: 100%;
}

#header .search-form input {
  background: none;
  border-color: #666666;
  border-style: solid;
  border-width: 0 1px;
  color: #303030;
  height: 54px;
  width: 170px;
  padding: 0 15px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .search-form input ::-webkit-input-placeholder {
  color: #ffffff;
}

#header .search-form input :-moz-placeholder {
  color: #ffffff;
}

#header .search-form input ::-moz-placeholder {
  color: #ffffff;
}

#header .search-form input :-ms-input-placeholder {
  color: #ffffff;
}

#header .search-form input:focus {
  background: #ffffff;
}

#header .language {
  position: absolute;
  top: 50%;
  right: 230px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#header .language a {
  color: #ffffff;
}

#header .login {
  position: absolute;
  top: 50%;
  right: 110px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#header .login .login-button {
  color: #ffffff;
}

#header .login .login-button .fa {
  font-size: 18px;
  margin-right: 5px;
}

#header .shopping-cart {
  position: absolute;
  top: 50%;
  right: 35px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#header .shopping-cart .cart-icon {
  color: #ffffff;
  font-size: 18px;
}

/* Footer style */

/* Component */

/* Pages */

/* Home page style */