/* Right content style */

.right-content {
    left: $left-content-width;
    position: relative;
    overflow-x: hidden;
    @include calc(width, '100% - 250px');
    > .container {
        width: 100%;
    }
}