/* Right content style */

.right-content {
    left: $left-content-width;
    position: relative;
    overflow-x: hidden;
    @include calc(width, '100% - 250px');
    @include transition();
    .no-sidebar & {
        left: auto;
        width: 100%;
    }
    > .container {
        width: 100%;
    }
}