/* Backgound */
$header-bg: #303030;
$left-menu-bg: #999999;

/* Border */
$search-input-bd: #666666;
$left-menu-bd: #dcdcdc;

/* Break point */


/* Color */
$black: #000000;
$white: #ffffff;
$header-link-hover: #aaaaaa;
$submenu-item-color: #a2a2a2;

/* Font */
@include placeholder('font-style') {
    font-style: normal;
    font-weight: normal;
}

@include placeholder('font-gotham-light') {
    @include font('font-style');
    font-family: 'GothamLight', sans-serif;
}

@include placeholder('font-gotham-medium') {
    @include font('font-style');
    font-family: 'GothamMedium', sans-serif;
}

@include placeholder('font-gotham-bold') {
    @include font('font-style');
    font-family: 'GothamBold', sans-serif;
}

@include placeholder('font-awesome') {
    font-family:'FontAwesome';
}

/* Layout */
$header-height: 54px;
$left-content-width: 250px;

