/* General style */

html, body {
    height: 100%;
}

body {
    background: $body-bg;
    color: $header-bg;
    @include font('font-roboto-bold');
    @include font-smoothing(antialiased);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    @include transition();
    &:hover, &:focus {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

#wrapper {
    min-height: 100%;
    margin: 0 auto;
    padding-top: $header-height;
    overflow-x: hidden;
    &:after {
        content: "";
        display: block;
    }
}

.back-top {
    background: $black-5;
    color: $white;
    font-size: 0;
    display: inline-block;
    height: 40px;
    padding: 10px;
    position: fixed;
    bottom: -40px;
    right: 0;
    width: 40px;
    z-index: 11;
    &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background: none;
        border-color: $white;
        border-style: solid;
        border-width: 1px 1px 0 0;
        margin-left: -5px;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(rotate(-45deg));
        @include transition();
    }
}

.button-style {
    &.black {
        background: $black;
        border-color: $black;
        color: $white;
        &:hover {
            background: transparent;
            color: $black;
        }
        &.border {
            background: transparent;
            color: $black;
            &:hover {
                background: $black;
                color: $white;
            }
        }
    }
    &.white {
        background: $white;
        border-color: $white;
        color: $black;
        &:hover {
            background: transparent;
            color: $white;
        }
        &.border {
            background: transparent;
            color: $white;
            &:hover {
                background: $white;
                color: $black;
            }
        }
    }
    &.grey {
        background: $grey;
        border-color: $grey;
        color: $white;
        &:hover {
            background: transparent;
            color: $grey;
        }
        &.border {
            background: transparent;
            color: $grey;
            &:hover {
                background: $grey;
                color: $white;
            }
        }
    }
    &.red {
        background: $red;
        border-color: $red;
        color: $white;
        &:hover {
            background: transparent;
            color: $red;
        }
        &.border {
            background: transparent;
            color: $red;
            &:hover {
                background: $red;
                color: $white;
            }
        }
    }
}

@include small-bp($mobile + 1, $laptop - 1) {
    .visible-sm {
        display: block !important;
    }
}

@include bp(max-width, $tablet - 1) {
    .back-top {
        display: none;
    }

    .visible-xs {
        display: none !important;
    }
}

@include bp(max-width, $mobile) {
    .visible-xs {
        display: block !important;
    }
}