/* General style */

html, body {
    height: 100%;
}

body {
    @include font('font-gotham-bold');
}

#wrapper {
    min-height: 100%;
    padding-top: $header-height;
    overflow-x: hidden;
    &:after {
        content: "";
        display: block;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    &:hover, &:focus {
        text-decoration: none;
        @include transition();
    }
}