/* Header style */

#header {
    background: $header-bg;
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    .nav-menu {
        height: 100%;
        position: relative;
    }
    .toggle-menu {
        color: $white;
        cursor: pointer;
        font-size: 28px;
        position: absolute;
        left: 15px;
        top: 50%;
        margin-top: -20px;
    }
    .top-menu {
        position: absolute;
        left: 70px;
        top: 0;
        ul {
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: left;
                margin: 0 8px;
                a {
                    color: $white;
                    display: block;
                    padding: 17px 8px;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .logo {
        max-width: 160px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    .search-form {
        position: absolute;
        top: 0;
        right: 300px;
        height: 100%;
        input {
            background: none;
            border: none;
            color: $header-bg;
            height: $header-height;
            width: 170px;
            padding: 10px 15px 10px 35px;
            outline: none;
            @include transition();
            @include input-placeholder() {
                color: $white;
            }
            &:focus {
                background: $white;
            }
            &:focus + button {
                color: $header-bg;
            }
        }
        button {
            background: none;
            border: none;
            color: $white;
            font-size: 18px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            outline: none;
            @include transition();
            &.toggle-search {
                display: none;
            }
        }
        .form-close {
            display: none;
        }
    }
    .language {
        position: absolute;
        top: 50%;
        right: 230px;
        @include transform(translateY(-50%));
        a {
            color: $white;
        }
    }
    .login {
        position: absolute;
        top: 50%;
        right: 110px;
        @include transform(translateY(-50%));
        .login-button {
            color: $white;
            .fa {
                font-size: 18px;
                margin-right: 5px;
            }
            &:hover {
                color: $header-link-hover;
            }
        }
    }
    .shopping-cart {
        position: absolute;
        top: 50%;
        right: 35px;
        @include transform(translateY(-50%));
        .cart-icon {
            color: $white;
            font-size: 18px;
            &:hover {
                color: $header-link-hover;
            }
        }
    }

    @include bp(max-width, $desktop) {
        .toggle-menu {
            .fa {
                &:before {
                    content: "\f00d";
                }
            }
            .no-sidebar & {
                .fa {
                    &:before {
                        content: "\f0c9";
                    }
                }
            }
        }
        .login {
            right: 90px;
            .login-button {
                .fa {
                    margin: 0;
                }
                span {
                    display: none;
                }
            }
        }
        .language {
            right: 140px;
        }
        .search-form {
            right: 190px;
            .search-item {
                display: none;
                position: fixed;
                width: 100%;
                top: $header-height;
                left: 0;
            }
            input {
                background: $white;
                border: none;
                width: 100%;
                padding: 10px 40px;
                &:focus + button {
                    color: $header-bg;
                }
            }
            button {
                &.toggle-search {
                    display: block;
                    height: $header-height;
                    position: static;
                }
                &.form-submit {
                    color: $header-bg;
                    font-size: 14px;
                    padding: 15px;
                }
            }
            .form-close {
                display: block;
                cursor: pointer;
                color: $header-bg;
                font-size: 20px;
                height: 100%;
                margin: 0;
                padding: 10px 15px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    @include bp(max-width, $tablet - 1) {
        .toggle-menu {
            font-size: 22px;
            margin-top: -16px;
        }
        .top-menu,
        .login {
            display: none;
        }
        .logo {
            max-width: 140px;
        }
        .search-form {
            right: 35px;
            button {
                font-size: 15px;
            }
        }
        .shopping-cart {
            right: 15px;
            .cart-icon {
                font-size: 15px;
            }
        }
    }
}

