/* Header style */

#header {
    background: $header-bg;
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .nav-menu {
        height: 100%;
        position: relative;
    }
    .logo {
        max-width: 160px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}

