/* Header style */

#header {
    background: $header-bg;
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .nav-menu {
        height: 100%;
        position: relative;
    }
    .logo {
        max-width: 160px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    .search-form {
        position: absolute;
        top: 0;
        right: 300px;
        height: 100%;
        input {
            background: none;
            border-color: $search-input-bd;
            border-style: solid;
            border-width: 0 1px;
            color: $header-bg;
            height: $header-height;
            width: 170px;
            padding: 10px 15px 10px 35px;
            outline: none;
            @include transition();
            @include input-placeholder() {
                color: $white;
            }
            &:focus {
                background: $white;
            }
            &:focus + button {
                color: $header-bg;
            }
        }
        button {
            background: none;
            border: none;
            color: $white;
            font-size: 18px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            outline: none;
            @include transition();
        }
    }
    .language {
        position: absolute;
        top: 50%;
        right: 230px;
        @include transform(translateY(-50%));
        a {
            color: $white;
        }
    }
    .login {
        position: absolute;
        top: 50%;
        right: 110px;
        @include transform(translateY(-50%));
        .login-button {
            color: $white;
            .fa {
                font-size: 18px;
                margin-right: 5px;
            }
        }
    }
    .shopping-cart {
        position: absolute;
        top: 50%;
        right: 35px;
        @include transform(translateY(-50%));
        .cart-icon {
            color: $white;
            font-size: 18px;
        }
    }
}

